node_modules/**/*
*.vscode/**
package-lock.json
yarn.lock
keystore/*
*google-services.json
.expo/*
.expo-shared/*
secrets/*
npm-debug.*
*.jks
**/*.jks
*.p12
*/**/AdMobIdentifiers.js
*.key
*.mobileprovision